<div class="col-md-6">
  <div class="card">
    <div class="card-block">
      <h5 class="card-header card-danger text-centre">Top Scores</h5>
      <p class="card-text">
        <table class="table table-sm">
          <tbody>
            <% score.where(skater1: skater.id).or(score.where(skater2: skater.id)).or(score.where(skater3: skater.id)).or(score.where(skater4: skater.id)).each do |s| %>
              <tr>
                <td>
                  <%= s.event.level.name %> <%=s.event.name%><br />
                  <%= s.segment.name %> <%= s.score_type.score_type if s.segment.name != "Total" %> Score
                </td>
                <td><%= s.score %></td>
                <td><%= s.year %> <%= s.competition.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </p>
    </div>
  </div>
</div>