<p id="notice"><%= notice %></p>
<div style="text-align: center;">
  <h3>
    <%= @skater.first_name %> <%= @skater.last_name %>
  </h3>
  <h4>Achievements</h4>
</div>
<div class="row">
  <% if @scores.where(skater1: @skater.id).or(@scores.where(skater2: @skater.id)).or(@scores.where(skater3: @skater.id)).or(@scores.where(skater4: @skater.id)).present? %>
    <%= render 'top_score', skater: @skater, scores: @scores %>
  <% end %>
  <% if @gofes.where(skater1: @skater).or(@gofes.where(skater2: @skater)).present? %>
    <%= render 'gofe', skater: @skater, competitions: @competitions, gofes: @gofes %>
  <% end %>
  <% if @club_awards.where(skater_id: @skater.id).present? %>
    <%= render 'club_awards', skater: @skater, club_awards: @club_awards %>
  <% end %>
</div>

<%= link_to 'Edit', edit_skater_path(@skater) %> |
<%= link_to 'Back', skaters_path %>
