<%= form_with(model: gold_test, local: true) do |form| %>
  <%= render '/layouts/partials/formerror', model: gold_test %>

  <div class="form-group row">
    <%= render '/layouts/partials/select', w: 3, lbl: "Skater", fld: :skater_id, fld2: :name, list: skaters, newpath: new_skater_path, f: form %>
    <%= form.label "Test", class: 'col-form-label col-md-1' %>
    <div class="col-md-3">
      <%= form.select(:testLevel, tests.map { |value| [ value, value ] }, {include_blank: true}, {class: "form-control"}) %>
    </div>
    <%= render '/layouts/partials/year', f: form, yr: :year %>
  </div>
  <%= render '/layouts/partials/formbtn', cxlpath: gold_tests_path, f: form %>
<% end %>
