<%= form_with(model: gold_test, local: true) do |form| %>
  <%= render :partial => '/layouts/partials/formerror', :locals => {model: @gold_test} %>
  <div class="form-group row">
    <%= render :partial => '/layouts/partials/select', :locals => {w: 4, lbl: "Skater", fld: :skater_id, model: Skater, newpath: new_skater_path, f: form} %>
    <%= form.label "Test", class: 'col-form-label col-md-1' %>
    <div class="col-md-4">
      <%= form.select(:testLevel, options_for_select([['Gold Freeskate'], ['Gold Skills'], ['Gold Intrepretive'], ['Gold Dance'], ['Diamond Dance']]), {}, {class: "form-control"}) %>
    </div>
    <%= render :partial => '/layouts/partials/year', :locals => {f: form, yr: :year} %>
  </div>
  <%= render :partial => '/layouts/partials/formbtn', :locals => {cxlpath: gold_tests_path, f: form} %>
<% end %>
