<%= render :partial => '/layouts/partials/addrecord', :locals => {addpath: new_gold_test_path } %>


<ul class="nav nav-pills flex-column flex-sm-row nav-fill">
  <% @years.each_with_index do |y, i| %>
    <%= render :partial => '/layouts/partials/tab', :locals => { y: y.to_s, b: y.to_s, i: i } %> 
  <% end %>
</ul>
<div class="tab-content">
  <% @years.each_with_index do |y, i| %>
    <div role="tabpanel" id='y<%= y.to_s %><%= y.to_s %>' <% if i == 0 %> class="tab-pane active" <% else %> class="tab-pane" <% end %>>
      <ul class="nav nav-pills flex-column flex-sm-row nav-fill">
        <% i = 0 %>
        <% @tests.each do |t| %>
          <% if @gold_tests.where(year: y, testLevel: t).present? %>
            <%= render :partial => '/layouts/partials/tab', :locals => { y: y.to_s, b: t, i: i } %> 
            <% i = i + 1 %>
          <% end %>
        <% end %>
      </ul>
      <div class="tab-content">
        <% i = 0 %>
        <% @tests.each do |t| %>
          <div role="tabpanel" id='y<%= y.to_s %><%= t.gsub(/[!@%&" ]/,'')  %>' <% if i == 0 %> class="tab-pane active" <% else %> class="tab-pane" <% end %>>
            <table class="table">
              <% @gold_tests.where(year: y, testLevel: t).in_groups_of(4).each do |group| %>
                <tr>
                  <% group.each do |gt| %>
                    <% if gt.present? %>
                      <td><%= gt.skater.name %></td>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </table>
          </div>
          <% i = i + 1 %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>



