<%= link_to 'New Element', new_element_path %>
<hr />
<% @element_types.each do |et| %>
  <h5><%= et.name %></h5>
  <table class="table table-sm">
    <thead>
      <th>Element Description</th>
      <th>Element Abbreviation</th>
      <th colspan="2"></th>
    </thead>
    <tbody>
      <% @elements.where(element_type_id: et.id).each do |e| %>
        <tr>
          <td><%= e.description %></td>
          <td><%= e.abbrev %></td>
          <td><%= link_to 'Edit', edit_element_path(e) %></td>
          <td><%= link_to 'Destroy', e, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
