<%= form_for @external_award, :html => {:class => "form-horizontal"} do |form| %>
  <%= render :partial => '/layouts/partials/formerror', :locals => {model: @external_award} %>

  <div class="form-group row">
    <%= render :partial => '/layouts/partials/select', :locals => {w: 4, lbl: "Skater", fld: :skater_id, fld2: :name, list: Skater.all, newpath: new_skater_path, f: form} %>
    <%= render :partial => '/layouts/partials/textfield', :locals => {lbl: "Award", fld: :award, f: form} %>
    <%= render :partial => '/layouts/partials/year', :locals => {yr: :year, f: form } %>
  </div>

  <%= render :partial => '/layouts/partials/formbtn', :locals => {cxlpath: external_awards_path, f: form} %>
  
<% end %>
