<%= form_for @external_award, :html => {:class => "form-horizontal" do |form| %>
  <%= render '/layouts/partials/formerror', model: @external_award %>

  <div class="form-group row">
    <%= render '/layouts/partials/select', w: 4, lbl: "Skater", fld: :skater_id, fld2: :name, list: @skaters, newpath: new_skater_path, f: form %>
    <%= render '/layouts/partials/textfield', lbl: "Award", fld: :award, fld2: :external_award_award, f: form %>
    <%= render '/layouts/partials/year', yr: :year, f: form  %>
  </div>

  <%= render '/layouts/partials/formbtn', cxlpath: external_awards_path, f: form %>
  
<% end %>
