<%= form_with(model: external_award, local: true) do |form| %>
  <% if external_award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(external_award.errors.count, "error") %> prohibited this external_award from being saved:</h2>

      <ul>
      <% external_award.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Skater Name" %>
    <%= form.collection_select :skater_id, Skater.all, :id, :name %>
    Not Listed? <%= link_to 'Add a new Skater', new_skater_path %>
  </div>

  <div class="field">
    <%= form.label :award %>
    <%= form.text_field :award, id: :external_award_award %>
  </div>

  <div class="field">
    <%= form.label :web_site %>
    <%= form.text_field :web_site, id: :external_award_web_site %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.select :year, (2000)..(Time.zone.now.year + 1), id: :external_award_year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
