<% if @score.team? %>
  <div class="form-group row">  
    <%= render '/layouts/partials/textfield', fld: :team_name, lbl: "Team", fld2: :score_team_name, f: form %>
  </div>
<% end %>

<div class="form-group row">
  <% if @score.pairs? or @score.dance? %>
    <% l1 = "Lady" %>
    <% l2 = "Man" %>
  <% else %>
    <% l1 = "Skater" %>
    <% l2 = "Skater" %>
  <% end %>
  
  <%= render '/layouts/partials/select', w: 3, lbl: l1, fld: :skater1, fld2: :name, list: @skaters, newpath: new_skater_path, f: form %>
  <% if @score.two_skaters? %>
    <%= render '/layouts/partials/select', w: 3, lbl: l2, fld: :skater2, fld2: :name, list: @skaters, newpath: new_skater_path, f: form %>
  <% end %>
</div>

<% if @score.team? %>
  <div class="form-group row">
    <%= render '/layouts/partials/select', w: 3, lbl: "Skater", fld: :skater3, fld2: :name, list: @skaters, newpath: new_skater_path, f: form %>
    <%= render '/layouts/partials/select', w: 3, lbl: "Skater", fld: :skater4, fld2: :name, list: @skaters, newpath: new_skater_path, f: form %>
  </div>
<% end %>

<div class="form-group row">
  <%= render '/layouts/partials/select', w: 3, lbl: "Competition", fld: :competition_id, fld2: :name, list: @competitions, newpath: new_competition_path, f: form %>
  <%= render '/layouts/partials/date', achieved: :achieved, f: form %>
</div>

<%= render '/layouts/partials/formbtn', cxlpath: scores_path, f: form %>
