<%= form_with(model: score, local: true) do |form| %>
  <% if score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.text_field :event_id, id: :score_event_id %>
  </div>

  <div class="field">
    <%= form.label :segment_id %>
    <%= form.text_field :segment_id, id: :score_segment_id %>
  </div>

  <div class="field">
    <%= form.label :score_type_id %>
    <%= form.text_field :score_type_id, id: :score_score_type_id %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.text_field :score, id: :score_score %>
  </div>

  <div class="field">
    <%= form.label :skater1 %>
    <%= form.text_field :skater1, id: :score_skater1 %>
  </div>

  <div class="field">
    <%= form.label :skater2 %>
    <%= form.text_field :skater2, id: :score_skater2 %>
  </div>

  <div class="field">
    <%= form.label :skater3 %>
    <%= form.text_field :skater3, id: :score_skater3 %>
  </div>

  <div class="field">
    <%= form.label :skater4 %>
    <%= form.text_field :skater4, id: :score_skater4 %>
  </div>

  <div class="field">
    <%= form.label :team_name %>
    <%= form.text_field :team_name, id: :score_team_name %>
  </div>

  <div class="field">
    <%= form.label :competition %>
    <%= form.text_field :competition, id: :score_competition %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :score_year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
