<%= form_with(model: score, local: true) do |form| %>
  <% if score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Score" %>
    <%= form.text_field :score, id: :score_score %>
  </div>


  <div class="field">
    <%= form.label "Skater Name" %>
    <%= form.collection_select :skater1, Skater.all, :name, :name %>
    Not Listed? <%= link_to 'Add a new Skater', new_skater_path %>
  </div>
  
  <% if score.event.name == "Pairs" or score.event.name == "Dance" or score.event.name == "Team" %>
    <div class="field">
      <%= form.label "Skater Name" %>
      <%= form.collection_select :skater2, Skater.all, :name, :name %>
      Not Listed? <%= link_to 'Add a new Skater', new_skater_path %>
    </div>
  <% end %>
  
  <% if score.event.name == "Team" %>
    <div class="field">
      <%= form.label "Skater Name" %>
      <%= form.collection_select :skater3, Skater.all, :name, :name %>
      Not Listed? <%= link_to 'Add a new Skater', new_skater_path %>
    </div>
    
    <div class="field">
      <%= form.label "Skater Name" %>
      <%= form.collection_select :skater4, Skater.all, :name, :name %>
      Not Listed? <%= link_to 'Add a new Skater', new_skater_path %>
    </div>
  
    <div class="field">
      <%= form.label :team_name %>
      <%= form.text_field :team_name, id: :score_team_name %>
    </div>
  <% end %>


  <div class="field">
    <%= form.label "Competition", class: "control-label" %>
    <%= form.collection_select :competition_id, Competition.all, :id, :name, class: "input" %>
    Not Listed? <%= link_to 'Add a new competition', new_competition_path %>
  </div>


  <div class="field">
    <%= form.label "Date" %>
    <%= form.date_field :achieved, id: :score_achieved %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
