<%= form_for @score, :html => {:class => "form-horizontal"} do |form| %>
  <%= render :partial => '/layouts/partials/formerror', :locals => {model: @score} %>

  <div class="form-group row">
     <%= form.label "Score", class:"col-form-label col-md-1" %>
     <% lbl = @score.score_type.score_type + " Score" %>
     <%= form.label lbl , class:"col-form-label col-md-3" %>
     <%= render :partial => '/layouts/partials/score', :locals => {score: :score, f: form} %>
  </div>

  <% if @score.team? %>
    <div class="form-group row">  
      <%= render :partial => '/layouts/partials/textfield', :locals => {fld: :team_name, lbl: "Team", fld2: :score_team_name, f: form} %>
    </div>
  <% end %>

  <div class="form-group row">
    
    <% if @score.pairs? or @score.dance? %>
      <% l1 = "Lady" %>
      <% l2 = "Man" %>
    <% else %>
      <% l1 = "Skater" %>
      <% l2 = "Skater" %>
    <% end %>
    
    <%= render :partial => '/layouts/partials/select', :locals => {w: 3, lbl: l1, fld: :skater1, fld2: :name, list: Skater.all, newpath: new_skater_path, f: form} %>
    <% if @score.two_skaters? %>
      <%= render :partial => '/layouts/partials/select', :locals => {w: 3, lbl: l2, fld: :skater2, fld2: :name, list: Skater.all, newpath: new_skater_path, f: form} %>
    <% end %>
  </div>

  <% if @score.team? %>
    <div class="form-group row">
      <%= render :partial => '/layouts/partials/select', :locals => {w: 3, lbl: "Skater", fld: :skater3, fld2: :name, list: Skater.all, newpath: new_skater_path, f: form} %>
      <%= render :partial => '/layouts/partials/select', :locals => {w: 3, lbl: "Skater", fld: :skater4, fld2: :name, list: Skater.all, newpath: new_skater_path, f: form} %>
    </div>
  <% end %>
  
  <div class="form-group row">
    <%= render :partial => '/layouts/partials/select', :locals => {w: 3, lbl: "Competition", fld: :competition_id, fld2: :name, list: Competition.all, newpath: new_competition_path, f: form} %>
    <%= render :partial => '/layouts/partials/date', :locals => {achieved: :achieved, f: form} %>
  </div>

  <%= render :partial => '/layouts/partials/formbtn', :locals => {cxlpath: scores_path, f: form} %>
<% end %>