<table class="table table-striped">
  <thead>
    <% if evnt.segment.count > 1 %>
      <th>Segment</th>
    <% end %>
    <% if evnt.score_type.count > 1 %>
      <th>Score Type</th>
    <% end %>
    <% if evnt.couples? or evnt.dance? or evnt.pairs? %>
      <th>Skaters</th>
    <% elsif evnt.team? %>
      <th>Team Name<br/ >Skaters</th>
    <% else %>
      <th>Skater</th>
    <% end %>
    <th>Score</th>
    <th>Competition</th>
    <th>Year</th>
    <th>Updated</th>
    <th></th>
  </thead>
  <tbody>
    <% scores.where(event_id: evnt.id).each do |s| %>
      <% if s.score_type_id == 1 %>
        <tr class="table-success">
      <% elsif s.score_type_id == 2 %>
        <tr class="table-info">
      <% else %>
        <tr class="table-warning">
      <% end %>
        <% if evnt.segment.count > 1 %>
          <td><%= s.segment.name %></td>
        <% end %>
        <% if evnt.score_type.count > 1 %>
          <td><%= s.score_type.score_type %></td>
        <% end %>
        <td>
          <% if evnt.team? %>
            <%= s.team_name %><br />
          <% end %>
          <% s.name.each do |n| %>
            <%= n %><br />
          <% end %>
        </td>
        <td><%= s.score %></td>
        <td><%= s.competition.name %></td>
        <td><%= s.year %></td>
        <td><%= local_time_ago(s.updated_at) %></td>
        <td>
          <%= link_to edit_score_path(s) do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>