<li class="nav-item">
  <a href='#<%= a.html_name %><%=b.html_name %>' aria-controls='#<%= a.html_name %><%=b.html_name %>' role="tab" data-toggle="tab" <% if i == 0 %> class="nav-link active" <% else %> class="nav-link" <% end %>>
    <%= b.name %>
  </a>
</li>