    <h2>Top Scores</h2>
  </div>
</div>

<p id="notice"><%= notice %></p>

<div>
  <div>
    <ul class="nav nav-pills">
  <li class="nav-item">
    <a href='#intro' aria-controls="intro" role="tab" data-toggle="tab" class="nav-link active">
      Introduction<br />& Criteria
    </a>
  </li>
  <% @groups.each_with_index do |g| %>
    <li class="nav-item">
      <a href='#<%= g.html_name %>'  aria-controls='<%= g.html_name %>' role="tab" data-toggle="tab" class="nav-link">
      <br /><%= g.name %>
      </a>
    </li>
  <% end %>
</ul>
    <div class="tab-content">
      <div role="tabpanel" id='intro' class="tab-pane active">
        <span>
          <%= render 'intro' %>
        </span>
      </div>
      <% @groups.each do |g| %>
        <div role="tabpanel" id='<%= g.html_name %>' class="tab-pane">
          <span>
            <ul class="nav nav-pills">
              <% @levels.where(group_id: g.id).each_with_index do |l, idx1| %>
                <li class="nav-item">
                  <a href='#<%= g.html_name %><%= l.html_name %>'  aria-controls='<%= g.html_name %><%= l.html_name %>' role="tab" data-toggle="tab" <% if idx1 == 0 %> class="nav-link active" <% else %> class="nav-link" <% end %>>
                    <%= l.name %>
                  </a>
                </li>
              <% end %>
            </ul>
            <div class="tab-content">
              <% @levels.where(group_id: g.id).each_with_index do |l, idx2| %>
                <div role="tabpanel" id='<%= g.html_name %><%= l.html_name %>' <% if idx2 == 0 %> class="tab-pane active" <% else %> class="tab-pane" <% end %>>
                  <span>
                    <ul class="nav nav-pills">
                      <% @events.where(level_id: l.id).each_with_index do |e, idx3| %>
                        <a href='#<%= l.html_name %><%= e.html_name %>'  aria-controls='<%= l.html_name %><%= e.html_name %>' role="tab" data-toggle="tab" <% if idx3 == 0 %> class="nav-link active" <% else %> class="nav-link" <% end %>>
                          <%= e.name %>
                        </a>
                      <% end %>
                    </ul>
                    <div class="tab-content">
                      <% @events.where(level_id: l.id).each_with_index do |e, idx4| %>
                        <div role="tabpanel" id='<%= l.html_name %><%= e.html_name %>' <% if idx4 == 0 %> class="tab-pane active" <% else %> class="tab-pane" <% end %>>
                          <span>
                            <%= render :partial => 'scoretable', :locals => {evnt: e, scores: @scores} %>
                          </span>
                        </div>
                      <% end %>
                    </div>
                  </span>
                </div>
              <% end %>
            </div>
          </span>
        </div>
      <% end %>
  </div>
</div>