<% unless admin_signed_in? %>
  <%= render '/layouts/partials/how_to_update' %>
<% end %>

<ul class="nav nav-pills flex-column flex-sm-row nav-fill">
  <li class="nav-item">
    <a href='#intro' aria-controls="intro" role="tab" data-toggle="tab" class="nav-link active flex-sm-fill text-sm-center">
      Introduction<br />& Criteria
    </a>
  </li>
  <% @groups.each_with_index do |g| %>
    <% if g.score.count > 0 or admin_signed_in? %>
      <li class="nav-item ">
        <a href='#<%= g.html_name %>'  aria-controls='<%= g.html_name %>' role="tab" data-toggle="tab" class="nav-link flex-sm-fill text-sm-center">
        <br /><%= g.name %>
        </a>
      </li>
    <% end %>
  <% end %>
</ul>
<div class="tab-content">
  <div role="tabpanel" id='intro' class="tab-pane active">
    <span>
      <%= render 'intro' %>
    </span>
  </div>
  <% @groups.each do |g| %>
    <% if g.score.count > 0 or admin_signed_in? %>
      <div role="tabpanel" id='<%= g.html_name %>' class="tab-pane">
        <span>
          <ul class="nav nav-pills flex-column flex-sm-row nav-fill">
            <% idx1 = 0 %>
            <% @levels.where(group_id: g.id).each do |l| %>
              <% if l.score.count > 0 or admin_signed_in? %>
                <%= render 'tab', a: g, b: l, i: idx1 %>
                <% idx1 = idx1 + 1 %>
              <% end %>
            <% end %>
          </ul>
          <div class="tab-content">
            <% idx2 = 0 %>
            <% @levels.where(group_id: g.id).each do |l| %>
              <% if l.score.count > 0 or admin_signed_in? %>
                <div role="tabpanel" id='<%= g.html_name %><%= l.html_name %>' <% if idx2 == 0 %> class="tab-pane active" <% else %> class="tab-pane" <% end %>>
                  <span>
                    <ul class="nav nav-pills flex-column flex-sm-row nav-fill">
                      <% idx3 = 0 %>
                      <% @events.where(level_id: l.id).each do |e| %>
                        <% if e.score.count > 0 or admin_signed_in? %>
                          <%= render 'tab', a: l, b: e, i: idx3 %>
                          <% idx3 = idx3 + 1 %>
                        <% end %>
                      <% end %>
                    </ul>
                    <div class="tab-content">
                      <% idx4 = 0 %>
                      <% @events.where(level_id: l.id).each do |e| %>
                        <% if e.score.count > 0 or admin_signed_in? %>
                          <div role="tabpanel" id='<%= l.html_name %><%= e.html_name %>' <% if idx4 == 0 %> class="tab-pane active" <% else %> class="tab-pane" <% end %>>
                            <span>
                              <%= render 'scoretable2', evnt: e, scores: @scores, skaters: @skaters %>
                            </span>
                          </div>
                          <% idx4 = idx4 + 1 %>
                        <% end %>
                      <% end %>
                    </div>
                  </span>
                </div>
                <% idx2 = idx2 + 1 %>
              <% end %>
            <% end %>
          </div>
        </span>
      </div>
    <% end %>
  <% end %>
</div>

