<p id="notice"><%= notice %></p>

<h1>Scores</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Segment</th>
      <th>Score type</th>
      <th>Score</th>
      <th>Skaters</th>
      <th>Team name</th>
      <th>Competition</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.event.event_name %></td>
        <td><%= score.segment.segment_type %></td>
        <td><%= score.score_type.score_type %></td>
        <td><%= score.score %></td>
        <td>
          <% score.name.each do |n| %>
            <%= n %><br />
          <% end %>
        </td>
        <td><%= score.team_name %></td>
        <td><%= score.competition %></td>
        <td><%= score.year %></td>
        <td><%= link_to 'Show', score %></td>
        <td><%= link_to 'Edit', edit_score_path(score) %></td>
        <td><%= link_to 'Destroy', score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score', new_score_path %>
