    <h2>Top Scores</h2>
  </div>
</div>

<p id="notice"><%= notice %></p>

<div>
  <div>
    <ul class="nav nav-pills">
      <% @groups.each do |g| %>
        <li class="nav-item">
          <a href='#<%= g.group_name %>'  aria-controls='<%= g.group_name %>' role="tab" data-toggle="tab" <% if g.id == 1 %> class="nav-link active" <% else %> class="nav-link" <% end %>>
            <% if g.id == 1 %>
              Pre-Novice to Senior
            <% elsif g.id == 2 %>
              Pre-Juvenile and Juvenile
            <% else %>
              <%= g.group_name %>
            <% end %>
          </a>
        </li>
      <% end %>
    </ul>
    <div class="tab-content">
      <% @groups.each do |g| %>
        <div role="tabpanel" id='<%= g.group_name %>'  <% if g.id == 1 %> class="tab-pane active" <% else %> class="tab-pane" <% end %>>
          <span>
            <ul class="nav nav-pills">
              <% @levels.where(group_id: g.id).each do |l| %>
                <li class="nav-item">
                  <a href='#<%= l.level %>'  aria-controls='<%= l.level %>' role="tab" data-toggle="tab" <% if l.id == 1 %> class="nav-link active" <% else %> class="nav-link" <% end %>>
                    <%= l.level %>
                  </a>
                </li>
              <% end %>
            </ul>
            <div class="tab-content">
              <% @levels.where(group_id: g.id).each do |l| %>
                <div role="tabpanel" id='<%= l.level %>' <% if l.id == 1 %> class="tab-pane active" <% else %> class="tab-pane" <% end %>>
                  <span>
                    <%= l.level %><br> tab <%= l.id %>
                  </span>
                </div>
              <% end %>
            </div>
          </span>
        </div>
      <% end %>
  </div>
</div>


<div> <br /><br /><br /><br /><br /><br /><br /><br /></div>

<div>
  <% @groups.each do |g| %>
    <%= g.group_name %><br />
    <ul>
      <% @levels.where(group_id: g.id).each do |l| %>
        <li><%= l.level %></li>
      <% end %>
    </ul>
  <% end %>
</div>