<div style="text-align: center;">
  <h4>Create a New Record</h4>
  <h5>
    <%= @score.event.level.name %> <%= @score.event.name %>
    <% unless @score.segment.name == "Total" %>
      - <%= @score.segment.name %>
    <% end %>
  </h5>
</div>

<%= form_with(model: @score, local: true) do |form| %>
  <%= render '/layouts/partials/formerror', model: @score %>
  <%= form.hidden_field :segment_id %>
  <%= form.hidden_field :event_id %>

  <div class="form-group row">
     <%= render '/layouts/partials/select', w: 2, lbl: "Score", fld: :score_type_id, fld2: :score_type, list: @score.segment.score_type.all, newpath: nil, f: form %>
     <%= render '/layouts/partials/score', score: :score, f: form %>
  </div>

  <%= render 'form', score: @score, form: form %>
  
<% end %>