<%= render '/layouts/partials/how_to_update' %>
<%= render '/layouts/partials/addrecord', addpath: new_star_gold_path %>
<ul class="nav nav-pills flex-column flex-sm-row nav-fill">
  <% @years.each_with_index do |y, i| %>
    <%= render '/layouts/partials/tab',  y: y.to_s, b: y.to_s, i: i %>
  <% end %>
</ul>
<div class="tab-content">
  <% @years.each_with_index do |y, i| %>
    <div role="tabpanel" id='y<%= y %><%= y %>' <% if i == 0 %> class="tab-pane active" <% else %> class="tab-pane" <% end %>>
      <ul class="nav nav-pills flex-column flex-sm-row nav-fill">
        <% i = 0 %>
        <% @competitions.each do |c| %>
          <% if @star_golds.where(year: y.to_s, competition_id: c).present? %>
            <%= render '/layouts/partials/tab',  y: y.to_s, b: c.name, i: i %> 
            <% i = i + 1 %>
          <% end %>
        <% end %>
      </ul>
      <% i = 0 %>
      <div class="tab-content">
        <% @competitions.each do |c| %>
          <% if @star_golds.where(year: y.to_s, competition_id: c).present? %>
            <div role="tabpanel" id='y<%= y.to_s %><%= c.name.gsub(/[!@%&" ]/,'') %>' <% if i == 0 %> class="tab-pane active" <% else %> class="tab-pane" <% end %>>   
              <%= render 'table',  star_golds: @star_golds, y: y, c: c %>
            </div>
            <% i = i + 1 %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>