<h2>STAR Gold Assessments</h2>
</div>
</div>

<%= render :partial => '/layouts/partials/addrecord', :locals => {addpath: new_star_gold_path } %>

<div>
  <ul class="nav nav-pills">
    <% @years.each_with_index do |y, i| %>
      <%= render :partial => '/layouts/partials/tab', :locals => { y: y.to_s, b: y.to_s, i: i} %>
    <% end %>
  </ul>
  <div class="tab-content">
    <% @years.each_with_index do |y, i| %>
      <div role="tabpanel" id='y<%= y %><%= y %>' <% if i == 0 %> class="tab-pane active" <% else %> class="tab-pane" <% end %>>
        <% @comps.each do |c| %>
          <% if @star_golds.where(year: y.to_s, competition_id: c).present? %>
           <h5><%= Competition.find(c).name %></h5>
              <table class="table table-layout:fixed">
                <thead>
                  <th col style="width:25%">Skater</th>
                  <th col style="width:15%">Element</th>
                  <th col style="width:20%"></th>
                  <th col style="width:25%">Skater</th>
                  <th col style="width:15%">Element</th>
                  <th></th>
                </thead>
                <tbody>
                  <% @star_golds.where(year: y.to_s, competition_id: c).in_groups_of(2).each do |group| %>
                  <tr>
                    <% group.each do |sg| %>
                      <% if sg.present? %>
                        <td><%= sg.skater.name %></td>
                        <td><%= sg.element %></td>
                        <td>
                         <%= link_to edit_star_gold_path(sg) do %>
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        <% end %>
                        </td>
                      <% end %>
                    <% end %>
                  </tr>  
                  <% end %>
                </tbody>
              </table>          
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>