<%= form_with(model: star_with_honor, local: true) do |form| %>
  <%= render '/layouts/partials/formerror', model: @star_with_honor %>

  <div class="form-group row">
    <%= render '/layouts/partials/select', w: 4, lbl: "Assessment Level", fld: :star_test_id, list: StarTest.all, fld2: :name_with_level, f: form, newpath: nil %>
    <%= render '/layouts/partials/select', w: 4, lbl: "Skater", fld: :skater_id, list: @skaters, fld2: :name, newpath: new_skater_path, f: form %>
  </div>
  
  <div class="form-group row">
    <%= render '/layouts/partials/date', achieved: :achieved, f: form %>
  </div>

  <%= render '/layouts/partials/formbtn', cxlpath: star_with_honors_path, f: form %>
<% end %>
