<p id="notice"><%= notice %></p>

<p>
  <strong>Star test:</strong>
  <%= @star_with_honor.star_test %>
</p>

<p>
  <strong>Skater:</strong>
  <%= @star_with_honor.skater_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @star_with_honor.achieved %>
</p>

<p>
  <strong>Year:</strong>
  <%= @star_with_honor.year %>
</p>

<%= link_to 'Edit', edit_star_with_honor_path(@star_with_honor) %> |
<%= link_to 'Back', star_with_honors_path %>
