<h2>Annual Award Winners</h2>
<%= render :partial => '/layouts/partials/addrecord', :locals => {addpath: new_club_award_path } %>

<div class="container">
  <ul class="nav nav-pills">
    <% @awards.each_with_index do |a, i| %>
      <%= render :partial => '/layouts/partials/tab', :locals => { y: a.name, b: a.name, i: i } %> 
    <% end %>
  </ul>
  <div class="tab-content">
    <% @awards.each_with_index do |a, i| %>
      <div role="tabpanel" id='y<%= a.name.gsub(/\s+/, "") %><%= a.name.gsub(/\s+/, "") %>' <% if i == 0 %> class="tab-pane active" <% else %> class="tab-pane" <% end %>>
        <span>
          <table class="table">
            <thead>
              <th col style="width:8.3%">Year</th>
              <th col style="width:25%">Skater</th>
              <th col style="width:8.3%">Year</th>
              <th col style="width:25%">Skater</th>
              <th col style="width:8.3%">Year</th>
              <th col style="width:25%">Skater</th>
            </thead>
            <tbody>
              <% @club_awards.where(award: a).in_groups_of(3) do |grp| %>
                <tr>
                  <% grp.each_with_index do |ca, i| %>
                    <% if ca.present? %>
                      <td><%= ca.year %></td>
                      <td><%= ca.skater.name %></td>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>  
            </tbody>
          </table>
        </span>
      </div>
    <% end %>
  </div>
</div>




