<%= render '/layouts/partials/addrecord', addpath: new_club_award_path  %>

<ul class="nav nav-pills flex-column flex-sm-row nav-fill">
  <% @award_types.each_with_index do |at, i| %>
    <%= render '/layouts/partials/tab',  y: "z", b: at.name, i: i  %> 
  <% end %>
</ul>
<div class="tab-content">
  <% @award_types.each_with_index do |at, i| %>
    <div role="tabpanel" id='yz<%= at.name.gsub(/[!@%&" ]/,'') %>' <% if i == 0 %> class="tab-pane active" <% else %> class="tab-pane" <% end %>>
      <span>
        <ul class="nav nav-pills flex-column flex-sm-row nav-fill">
          <% @awards.where(award_type_id: at.id).each_with_index do |a, idx| %>
            <%= render '/layouts/partials/tab',  y: "x", b: a.name, i: idx  %> 
          <% end %>
        </ul>
        <div class="tab-content">
          <% @awards.where(award_type_id: at.id).each_with_index do |a, idx| %>
            <div role="tabpanel" id='yx<%= a.name.gsub(/[!@%&" ]/,'') %>' <% if idx == 0 %> class="tab-pane active" <% else %> class="tab-pane" <% end %>>
              <span>
                <table class="table">
                  <thead>
                    <th col style="width:10%">Year</th>
                    <th col style="width:30%">Recipient</th>
                    <th col style="width:5%"></th>
                    <th col style="width:10%">Year</th>
                    <th col style="width:30%">Recipient</th>
                    <th col style="width:5%"></th>
                  </thead>
                  <tbody>
                    <% @club_awards.where(award_id: a.id).in_groups_of(2) do |grp| %>
                      <tr>
                        <% grp.each_with_index do |ca, i| %>
                          <% if ca.present? %>
                            <td><%= ca.year %></td>
                            <td><%= ca.skater.name %></td>
                            <td>
                              <% if admin_signed_in? %>
                                <%= link_to edit_club_award_path(ca) do %>
                                  <i class="fa fa-pencil" aria-hidden="true"></i>
                                <% end %>
                                <%= link_to ca, method: :delete, data: { confirm: 'Are you sure?' }  do %>
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                <% end %>
                              <% end %>
                            </td>
                          <% end %>
                        <% end %>
                      </tr>
                    <% end %>  
                  </tbody>
                </table>
              </span>
            </div>
          <% end %>
        </div>
      </span>
    </div>
  <% end %>
</div>


