<%= form_with(model: gofe, local: true) do |form| %>
  <%= render :partial => '/layouts/partials/formerror', :locals => {model: @gofe} %>
  
  <!-- TODO: AJAX multi level drop box -->
  <%= render :partial => '/layouts/partials/els', :locals => {level: :level_id, event: :event_if, segment: :segment_id, f: form} %>

  <div class="form-group row">
    <%= render :partial => '/layouts/partials/date', :locals => {achieved: :achieved, f: form} %>
    <%= render :partial => '/layouts/partials/select', :locals => {w: 4, lbl: "Competition", fld: :competition_id, model: Competition, newpath: new_competition_path, f: form} %>
  </div>  

  <div class="form-group row">
<%= render :partial => '/layouts/partials/select', :locals => {w: 4, lbl: "Skater", fld: :skater1, model: Skater, newpath: new_skater_path, f: form} %>
      <%= render :partial => '/layouts/partials/select', :locals => {w: 4, lbl: "Skater", fld: :skater2, model: Skater, newpath: new_skater_path, f: form} %>
  </div>
 
  <div class="form-group row">
    <%= render :partial => '/layouts/partials/textfield', :locals => {lbl: "Element", fld: :element, f: form} %>
    <%= render :partial => '/layouts/partials/goe', :locals => {grade: :grade, f: form} %>
  </div> 

  <%= render :partial => '/layouts/partials/formbtn', :locals => {cxlpath: goves_path, f: form} %>

<% end %>
