<%= form_for @gofe do |form| %>
  <%= render '/layouts/partials/formerror', model: gofe %>

  <div class="form-group row">
    <%= render 'groupselect', id: :level_id, lbl: "Level", model: groups, fld: :level, f: form, blank: true, sort: :name %>
    <%= render 'groupselect', id: :event_id, lbl: "Event", model: levels, fld: :event, f: form, blank: true, sort: :name %>
    <%= render 'groupselect', id: :segment_id, lbl: "Segment", model: events, fld: :segment, f: form, blank: true, sort: :id %>
  </div>

  <div class="form-group row">
    <%= render '/layouts/partials/date', achieved: :achieved, f: form %>
    <%= render '/layouts/partials/select', w: 3, lbl: "Competition", fld: :competition_id, fld2: :name, list: @competitions, newpath: new_competition_path, f: form %>
  </div>

  <div class="form-group row">
    <!-- new -->
    <% 2.times do |i| %>
      <% skater = "skater" + (i + 1).to_s %>
      <%= render '/layouts/partials/skater', lbl: "Skater", fld: binding.local_variable_get("skater"), f: form %>
    <% end %>

    <!-- old -->
    <%#= render '/layouts/partials/skater', lbl: "Skater", fld: :skater1, f: form %>
    <%#= render '/layouts/partials/skater', lbl: "Skater", fld: :skater2, f: form %>
  </div>

  <div class="form-group row">
    <%= render '/layouts/partials/textfield', lbl: "Element", fld: :element, fld2: :gofe_element, f: form %>
    <%= render '/layouts/partials/goe', grade: :grade, f: form %>
  </div>

  <%= render '/layouts/partials/formbtn', cxlpath: goves_path, f: form %>

<% end %>
