<table class="table table-hover table-sm">
  <thead class="thead-default">
    <tr>
      <th col style="width:35%"><%= l.name %></th>
      <th col style="width:35%">Skater(s)</th>
      <th col style="width:25%">Element</th>
      <th col style="width:5%">GOE</th>
      <% if admin_signed_in? %>
        <th col style="width:5%"></th>
      <% end %>
    </tr>
  </thead>
  <% @gofes.where(year: y.to_s, competition: c, discipline: d, level: l).each do |g| %>
    <tbody>
      <tr <% if g.grade == 3 %> class="table-success" <% end %>>
        <th scope="row"><%= g.event.name + " " if d == "Freeskate" %><%= g.segment.name %></th>
        <td><%= Skater.find(g.skater1).name %>
          <% if g.skater2 and g.skater2 != "" %>
            <br /><%= Skater.find(g.skater2).name %>
          <% end %>
        </td>
        <td><%= g.element %></td>
        <td>+<%= g.grade %></td>
        <% if admin_signed_in? %>
          <td>
            <%= link_to edit_gofe_path(g) do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>
            <%= link_to g, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </td>
        <% end %>
      </tr>
    </tbody>
  <% end %>  
</table>
