<div class="form-group row">
  <%= f.label level, "Level", class:"col-form-label col-md-1" %>
  <div class="col-md-3>">
    <%= f.grouped_collection_select level, Group.all, :level, :name, :id, :name, {:include_blank => true}, {class: "custom-select"} %>
  </div>

  <%= f.label event, "Event", class:"col-form-label col-md-1" %>
  <div class="col-md-3">
    <%= f.grouped_collection_select event, Level.all, :event, :name, :id, :name, {}, {class: "custom-select"} %>
  </div>
  
  <%= f.label segment, "Segment", class:"col-form-label col-md-1" %>
  <div class="col-md-3">
    <%= f.grouped_collection_select segment, Event.all, :segment, :id, :id, :name, {}, {class: "custom-select"} %>
  </div>
</div>