<%= render '/layouts/partials/addrecord', addpath: new_gofe_path %>

<ul class="nav nav-pills flex-column flex-sm-row nav-fill">
  <% @years.each_with_index do |y, i| %>
    <li class="nav-item" >
      <a href='#y<%= y %>'  aria-controls='y<%= y %>' role="tab" data-toggle="tab" <% if i == 0 %> class="active nav-link" <% else %> class="nav-link" <% end %>>
        <h4><%= y %></h4>
      </a>
    </li>
  <% end %>
</ul>
<div class="tab-content">
  <% @years.each_with_index do |y, i| %>
    <div role="tabpanel" id='y<%= y %>' <% if i == 0 %> class="tab-pane active" <% else %> class="tab-pane" <% end %>>
      <ul class="nav nav-pills flex-column flex-sm-row nav-fill">
        <% idx = 0 %>
        <% @competitions.each do |c| %>
          <% if @gofes.where(year: y.to_s, competition_id: c.id).present? %>
           <%= render '/layouts/partials/tab', y: y.to_s , b: c.name, i: idx %> 
           <% idx = idx + 1%>
          <% end %>
        <% end %>
      </ul>
      <div class="tab-content">
        <% idx1 = 0 %>
        <% @competitions.each do |c| %>
          <% if @gofes.where(year: y.to_s, competition_id: c.id).present? %>
            <div role="tabpanel" id='y<%= y %><%= c.name.gsub(/\s+/, "") %>' <% if idx1 == 0 %> class="tab-pane active" <% else %> class="tab-pane" <% end %>>
              <% idx1 = 0 %>
              <ul class="nav nav-pills flex-column flex-sm-row nav-fill">
              <% @discipline.each do |d| %>
                  <% if @gofes.where(year: y.to_s, competition_id: c.id, discipline: d).present? %>
                    <%= render '/layouts/partials/tab', y: y.to_s + c.name, b: d, i: idx1 %>
                    <% idx1 = idx1 + 1 %>
                  <% end %>
              <% end %>
              </ul>
              <% idx2 = 0 %>
              <div class="tab-content">
                <% @discipline.each do |d| %>
                  <% if @gofes.where(year: y.to_s, competition_id: c.id, discipline: d).present? %>
                    <div role="tabpanel" id='y<%= y.to_s %><%= c.name.gsub(/\s+/, "") %><%= d %>' <% if idx2 == 0 %> class="tab-pane active" <% else %> class="tab-pane" <% end %>>
                      <% Level.all.each do |l| %>
                        <%= render 'goetable', y: y, c: c.id, d: d, l: l if @gofes.where(year: y.to_s, competition_id: c.id, discipline: d,level_id: l.id).present? %>
                      <% end %>
                    </div>
                    <% idx2 = idx2 + 1 %> 
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>



