<p id="notice"><%= notice %></p>
<div class="card col-md-6" style = "margin-right: auto; margin-left: auto;">
  <div class="card-header" style="text-align: center">
    <h4>Grade of Execution Record for<br />
      <%= @skaters.find(@gofe.skater1).name %>
      <% if @gofe.skater2 && @gofe.skater2 != "" %>
        /<%= @skaters.find(@gofe.skater2).name %>
      <% end %>
      </h4>
  </div>
  <div class="card-block">
    <div class = "card-text">
      <h5><%= @gofe.level.name %> <%= @gofe.event.name %> <%= @gofe.segment.name %></h5>
      <h5><%= @gofe.year %> <%= @gofe.competition.name %></h5>
      <h5><%= @gofe.element %> +<%= @gofe.grade %></h5>
    </div>
  </div>
</div>

<div>
  <%= link_to 'Edit', edit_gofe_path(@gofe) %> |
  <%= link_to 'Index', goves_path %>

</div>
<hr />
<div>
  <h6>Add A New Record With:</h6>
  <span>
    <%= link_to 'Same Skater(s) and Group', new_gofe_path(:s1 => @gofe.skater1, :s2 => @gofe.skater2, :l => @gofe.level_id, :e => @gofe.event_id ) %><br />
    <%= link_to 'Same Skater(s) and Group, Same Competition', new_gofe_path(:s1 => @gofe.skater1, :s2 => @gofe.skater2, :l => @gofe.level_id, :e => @gofe.event_id, :c => @gofe.competition_id, :a => @gofe.achieved ) %><br />
    <%= link_to 'Same Skater(s) and Group, Same Competition, Same Segment', new_gofe_path(:s1 => @gofe.skater1, :s2 => @gofe.skater2, :l => @gofe.level_id, :e => @gofe.event_id, :c => @gofe.competition_id, :a => @gofe.achieved, :s => @gofe.segment_id ) %><br />
    <%= link_to 'New Skater(s), Same Competition', new_gofe_path(:c => @gofe.competition_id, :a => @gofe.achieved) %><br />
    <%= link_to 'New Skater(s)', new_gofe_path %>
  </span>
</div>