<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @gofe.level.name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @gofe.event.name %>
</p>

<p>
  <strong>Segment:</strong>
  <%= @gofe.segment.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @gofe.year %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @gofe.competition.name %>
</p>

<p>
  <strong>Skater1:</strong>
  <%= @gofe.skater1 %>
</p>

<p>
  <strong>Skater2:</strong>
  <%= @gofe.skater2 %>
</p>

<p>
  <strong>Element:</strong>
  <%= @gofe.element %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @gofe.grade %>
</p>

<%= link_to 'Edit', edit_gofe_path(@gofe) %> |
<%= link_to 'Back', goves_path %>
