<%= form_with(model: ab_team, local: true) do |form| %>
  <%= render :partial => '/layouts/partials/formerror', :locals => {model: @ab_team} %>

  <div class="form-group row">
    <%= render :partial => '/layouts/partials/select', :locals => {lbl: "Skater", fld: :skater_id, fld2: :name, list: Skater.all, newpath: new_skater_path, f: form, w: 2} %>
    <%= render :partial => '/layouts/partials/textfield', :locals => {lbl: "Team", fld: :team, f: form} %>
    <%= render :partial => '/layouts/partials/year', :locals => {yr: :year, f: form} %>
  </div>

  <%= render :partial => '/layouts/partials/formbtn', :locals => {cxlpath: ab_teams_path, f: form} %>

<% end %>
