<%= form_with(model: ab_team, local: true) do |form| %>
  <%= render '/layouts/partials/formerror', model: ab_team %>

  <div class="form-group row">
    <%= render '/layouts/partials/select', lbl: "Skater", fld: :skater_id, fld2: :name, list: @skaters, newpath: new_skater_path, f: form, w: 3 %>
    <%= render '/layouts/partials/select', lbl: "Team", fld: :team_id, fld2: :name, list: @teams, newpath: new_team_path, f: form, w: 3 %>
    <%= render '/layouts/partials/year', yr: :year, f: form %>
  </div>

  <%= render '/layouts/partials/formbtn', cxlpath: ab_teams_path, f: form %>

<% end %>
