<li class="nav-item danger">
  <a href='#y<%= y.gsub(/[!@%&" ]/,'') %><%=b.gsub(/[!@%&" ]/,'') %>' aria-controls='y<%= y.gsub(/[!@%&" ]/,'') %><%=b.gsub(/[!@%&" ]/,'') %>' role="tab" data-toggle="tab" <% if i == 0 %> class="nav-link active" <% else %> class="nav-link" <% end %>>
    <%= b %>
  </a>
</li>
