<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to "Wall Of Fame", root_path, class: "navbar-brand" %>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><%= link_to "Top Scores", scores_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "+2 GOE", goves_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Gold and Diamond Tests", gold_tests_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "STAR Gold", star_golds_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "STAR Pass With Honors", star_with_honors_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "AB Teams", root_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Calalta Awards", root_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Provincial and National Awards", root_path, class: "nav-link" %></li>
    </ul>
  </div>
</nav>


        